name: "filter package versions"
on:
  workflow_call:
    inputs:
      package:
        description: valid npm package name to filter versions for
        required: true
        type: string
  workflow_dispatch:
    inputs:
      package:
        description: valid npm package name to filter versions for
        required: true
        type: string

permissions:
  contents: read

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      package: ${{ inputs.package }}
      missingRepros: ${{ steps.versions.outputs.missingRepros }}
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - run: git submodule init && git submodule update --recursive
      - run: cd data && git merge origin/data && cd ..

      - uses: ljharb/actions/node/install@main
        with:
          node-version: "node"

      - name: validate package name
        run: npx validate-npm-package-name-cli "${PACKAGE}"
        env:
          PACKAGE: ${{ inputs.package }}

      - run: node scripts/versions.mjs
        id: versions
        env:
          PACKAGE: ${{ inputs.package }}

      - name: Summary
        run: |
          echo "::notice::Package: ${PACKAGE}"
          echo "::notice::Missing reproductions: ${VERSIONS}"
          VERSION_COUNT=$(echo "${VERSIONS}" | grep -o '||' | wc -l)
          VERSION_COUNT=$((VERSION_COUNT + 1))
          echo "::notice::Total missing versions: ${VERSION_COUNT}"
        env:
          PACKAGE: ${{ inputs.package }}
          VERSIONS: ${{ steps.versions.outputs.missingRepros }}
